# .gitignore

# Ignorar el directorio del entorno virtual
env/
pqrsdbga/

# Ignorar todos los archivos .pyc
*.pyc

# Ignorar todos los archivos .pyo
*.pyo

# Ignorar todos los archivos .pyd
*.pyd

# Ignorar todos los archivos .DS_Store
.DS_Store
